<div class="container" >
  <div class="col-xs-12">
    <h4>Adicionar Gasto</h4>
    <form class="form-horizontal">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="exampleInputEmail1" class="col-xs-3 control-label">Data</label>
          <div class="col-xs-9">
            <input type="date" class="form-control" ng-model="gasto.date" id="dateGasto" placeholder="Insira a data">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="col-xs-3 control-label">Valor gasto</label>
          <div class="col-xs-9">
            <input type="number" ng-model="gasto.valor" class="form-control" id="valorGasto" placeholder="Insira o valor">
          </div>
        </div>
        <div class="pull-right">
          <button type="button" name="button" class="btn btn-primary" ng-click="addItem(gasto)">Adiciona</button>
        </div>
      </div>

    </form>
  </div>
</div>
